[user]
	name = Eric Crowder
	email = ebcrowder@gmail.com
[pull]
	rebase = true 
[core]
	editor = vim
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
