[user]
	name = ebcrowder
	email = eric@ebcrowder.dev
[includeIf "gitdir:~/Projects/"]
	path = ~/Projects/.gitconfig
[core]
	editor = vim
	excludesfile = ~/dotfiles/.gitignore
[init]
	defaultBranch = main
